body {
    background-color: #f8f9fa; /* Cor de fundo do Bootstrap */
    padding: 10px; /* Adicione algum espaçamento ao redor do conteúdo */
    margin: 0;
}
h1 {
    margin-bottom: 20px;
}
ul {
    list-style-type: none; /* Remover marcadores de lista */
    padding: 0;
}
li {
    margin-bottom: 20px;
}
a {
    text-decoration: none;
}

.ver-receita-btn {
    padding: 4px 8px; /* Ajuste o padding conforme necessário */
    font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    animation: fadeUp 1.5s ease-out;
}

.h-custom {
    height: calc(100vh - 70px); /* Subtrai a altura do footer (70px) da altura total da viewport */
    overflow-y: auto; /* Adiciona barra de rolagem vertical se o conteúdo ultrapassar a altura da viewport */
}

.h-custom {
    margin-bottom: 70px; /* Altura do footer */
}

.imagem-receita {
    max-width: 50%; /* Ajusta a largura máxima para o tamanho disponível */
    height: auto;   /* Garante que a altura se ajusta automaticamente à largura */
    margin-bottom: 20px; /* Adiciona um espaçamento na parte inferior da imagem */
}



